<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">

    <meta name="keywords" content="券多多,优惠券,手机优惠券,电子优惠券,微信优惠券">
    <meta name="description" content="券多多是一个借助于微信APP免费发放电子优惠券的公众平台。">
    {% block page_vars %}{% endblock %}
    {% block meta %}{% endblock %}
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="../static/css/common.css">
    <link type="text/css" rel="stylesheet" href="../static/css/search.css">
    <script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/avatar.js"></script>
    {% block page_css %}{% endblock %}
    <script type="text/javascript">
        cookie.prefix = 'cb65_';
    </script>
    <!--[if IE 7]>
<link rel="stylesheet" href="./resource/style/font-awesome-ie7.min.css">
<![endif]-->
    <!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="./resource/style/bootstrap-ie6.min.css">
<link rel="stylesheet" type="text/css" href="./resource/style/ie.css">
<![endif]-->
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>

{# header #}
{% block header %}

{% endblock %}
{# body #}
{% block body %}
    <body style="height:100%; overflow:hidden;" scroll="no">

    <!-- 开始菜单区域 -->
    <div id="menu-wrap">
        <div class="logo"></div>
        <div class="title">
            <p class="welcome">欢迎来到</p>

            <h3>券多多的智能世界</h3>

            <p class="site">{{ website.url }}</p>
        </div>
        <div class="intro" style="display:block;">
            <div class="mp-code">
                <img class="qrcode" src="../../static/images/qrcode_129.png">

                <p>不明白券多多是什么？扫描二维码进来体验一下吧！</p>
            </div>
        </div>
        <div class="menu" style="display:none;">
            <div class="menu-title backtomenu">回到首页</div>

            <ul class="customer">
                <li><a href="/user_data" target="main"><span class="menu-arrow">&gt;</span>平台总览</a></li>
            </ul>
            <ul class="business">
                <li><a href="/shop/select" target="main"><span
                        class="menu-arrow">&gt;</span>门店列表</a></li>
            </ul>
            <ul class="discount">
                <li><a href="/discount/shop/select" target="main"><span
                        class="menu-arrow">&gt;</span>优惠列表</a></li>
            </ul>

            <ul class="analysis">
                <li><a href="/record/shop/select" target="main"><span
                        class="menu-arrow">&gt;</span>领券记录</a></li>
            </ul>
            <ul class="post">
                <li><a href="/post?act=platform" target="main"><span class="menu-arrow">&gt;</span>平台推广</a></li>
            </ul>
            <ul class="help">
                <li><a href="/help?act=about" target="main"><span class="menu-arrow">&gt;</span>券多多是什么</a></li>
                <li><a href="/help?act=howtopub" target="main"><span class="menu-arrow">&gt;</span>怎样发布优惠券</a></li>
                <li><a href="/help?act=howtouse" target="main"><span class="menu-arrow">&gt;</span>如何使用券多多</a></li>
            </ul>
            <ul class="config">
                <li><a href="/wechat?weid=10014&amp;act=modify" target="main"><span
                        class="menu-arrow">&gt;</span>站点配置</a></li>
                <li><a href="/setting?act=menu" target="main"><span class="menu-arrow">&gt;</span>自定义菜单</a></li>
            </ul>
            <ul class="manage">
                <li><a href="/site?act=fans&amp;do=display" target="main"><span
                        class="menu-arrow">&gt;</span>用户管理</a>
                </li>
            </ul>

        </div>
    </div>

    <!-- 开始分割框 -->
    <div id="spliter">
        <div style="position: relative;height: 100%;width: 100%;">
            <div class="icon">
            </div>
        </div>
    </div>

    <!-- 开始主区域 -->
    <div id="main-wrap">
        {% include 'account/header.html' %}
        <div class="body">
            {% block content %}
            {% endblock %}
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            $("#spliter").click(function () {
                var $body = $("body");
                if ($body.hasClass("hidemenu")) {
                    $body.removeClass("hidemenu");
                    $body.addClass("showmenu");
                    $(this).attr("title", "隐藏左侧面板");
                } else {
                    $body.removeClass("showmenu");
                    $body.addClass("hidemenu");
                    $(this).attr("title", "展开左侧面板");
                }
            });

            //顶部主导航
            $("#hnavTypeChange a").click(function () {
                $(this).parent().addClass("active").siblings().removeClass("active");
                $('#snavTypeChange').attr('class', $(this).attr('data-type'));
            });
            //左侧主菜单
            $("#main-wrap .head .menu").live("click", function () {
                var $menu = $(this);
                $menu.parent().addClass('active').siblings().removeClass('active');
                $("#menu-wrap .menu ul." + $menu.attr('data-type')).show().siblings('ul').hide();
                var $firstMenu = $("#menu-wrap .menu ul." + $menu.attr('data-type') + " li").eq(0);
                if ($firstMenu.find("a").attr("onclick")) {
                    $firstMenu.find("a").click();
                } else {
                    $firstMenu.addClass("selected").siblings().removeClass("selected");
                    $("#main-wrap .body iframe").attr("src", $firstMenu.find("a").attr("href"));
                }
                $("#menu-wrap .intro").hide();
                $("#menu-wrap  .menu").show();
            });
            //点击菜单
            $("#menu-wrap .menu").delegate("li", "click", function () {
                $(this).addClass("selected").siblings().removeClass("selected");
            });
            //回到主页
            $(".backtomenu").click(function () {
                $("#main-wrap .body iframe").attr("src", '?act=welcome');
                $("#main-wrap .head li.active").removeClass('active');
                $("#menu-wrap  .menu").hide();
                $("#menu-wrap .intro").show();
            });
        });
    </script>

    </body>
{% endblock %}

{# 全局JS代码 #}
<script type="text/javascript">
    var gLocals = {
        'gUser': "{{ g.user }}",
        'csrf': "{{ csrf_token() }}",
        'role': "{{ g.user.role if g.user else "" }}"
    };
</script>

{# 单页JS代码 #}
{% block page_js %}{% endblock %}


<script>
    $(function () {
        var u = cookie.get('remember-username');
        if ($.trim(u)) {
            $('#remember')[0].checked = true;
            $(':text[name="username"]').val($.trim(u));
        }
    });
    function formcheck() {
        if ($('#remember:checked').length == 1) {
            cookie.set('remember-username', $(':text[name="username"]').val());
        } else {
            cookie.del('remember-username');
        }
        return true;
    }
</script>
{% block footer %}
{% endblock %}

