<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>{% block page_title %}券多多安阳站{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/style/vlight.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/icons/iconfont.css"/>
    <script type="text/javascript" src="/static/themes/mobile/style/jquery-2.1.4.min.js"></script>
</head>
{# body #}
{% block content %}{% endblock %}

{% block footer %}
    {% include 'mobile/footer.html' %}
{% endblock %}
</html>