{% extends 'common.html' %}
{% block title %}注册{% endblock %}
{% block content %}
    <div class="message alert alert-error">
        <div class="icon pull-left"><i class="icon-remove"></i></div>
        <div class="content">
            <h4>注册系统暂时关闭！</h4>

            <p>[<a href="javascript:history.go(-1);">点击这里返回上一页</a>] &nbsp; [<a href="./index.php?act=welcome">首页</a>]
            </p>
        </div>
    </div>
    <div class="show_foot">
        <div class="foot_wrap">
            <p>&copy; 2015 <b>汝州百事优惠圈</b></p>
        </div>
    </div>

{% endblock %}