<div class="header container" style="position:relative;padding:0;">
    <div style="background:#383d40;height:60px;border-radius: 7px;line-height:60px;">
        <span class="col-sm-offset-2 headerinfo">便捷的自主设计、个人专属的私人定制</span>
        <ul class="navmain">
            <li class="navitem active" style="background-image:none">
                <a href="/diy/main">首页</a>
            </li>
            <li class="navitem ">
                <a href="/diy/userpanel">我的设计</a>
            </li>
            <li class="navitem ">
                <a href="/diy/witkey">我是威客</a>
            </li>
        </ul>
        <div style="background:url({{ static(website.logo) }});width: 440px;height: 100px;position: relative;top: -70px;background-repeat: no-repeat;">
        </div>
    </div>
    <a href="appadmin" target="_admin" class="btn btn-default"
       style="position:absolute;right:10px;top:-50px;"><i class="fa fa-user"></i>&nbsp;卖家入口</a>
</div>