{% extends 'account_layout.html' %}
{% from 'macro/form.html' import form_field %}
{% block content %}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>汝州百事优惠圈</title>
        <meta name="keywords" content="汝州百事优惠圈,优惠券,手机优惠券,电子优惠券,微信优惠券">
        <meta name="description" content="汝州百事优惠圈是一个借助于微信APP免费发放电子优惠券的公众平台。">
        <link type="text/css" rel="stylesheet" href="/resource/style/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="/resource/style/font-awesome.css">
        <link type="text/css" rel="stylesheet" href="/resource/style/common.css?v=1445775363">
        <link type="text/css" rel="stylesheet" href="/resource/style/search.css?v=1445775363">
        <script type="text/javascript" src="/resource/script/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/resource/script/bootstrap.js"></script>
        <script type="text/javascript" src="/resource/script/common.js"></script>
        <script type="text/javascript" src="/resource/script/avatar.js"></script>
        <script type="text/javascript">
            cookie.prefix = 'cb65_';
        </script>
        <!--[if IE 7]>
<link rel="stylesheet" href="/resource/style/font-awesome-ie7.min.css">
<![endif]-->
        <!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/resource/style/bootstrap-ie6.min.css">
<link rel="stylesheet" type="text/css" href="/resource/style/ie.css">
<![endif]-->
    </head>
    <body>

    <style type="text/css">
        .head_wrap .class.local li.local,
        .head_wrap .class.chain li.chain {
            border-bottom: #fe7a4f solid 2px;
        }

        .body_wrap .load_wrap.normal .coupon-class .class-opt a.closed {
            display: none !important;
        }

        .body_wrap .load_wrap.closed .coupon-class .class-opt a.normal {
            display: none !important;
        }

        .count {
            color: #17B136;
        }
    </style>
    <div class="show_body">
        <div class="head_wrap">
            <form name="search" action="" method="post">
                <div class="query">
                    <input name="keyword" id="" type="text" value="">
                    <a href="javascript:void(0);" onclick="$('form[name=search]').submit();"><i class="icon-search"></i></a>
                </div>
                <div class="class normal">
                    <ul>
                        <li class="normal"><a
                                href="#">{{ brand.name }}</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <style type="text/css">
            .load_wrap.reviewstatus{background:#EFFFFF;}/*未开始*/
            .load_wrap.momentstatus{background:#FFEFFF;}/*未到时*/
            .load_wrap.nobodystatus{background:#FFFFEF;}/*已领完*/
            .load_wrap.closedstatus{background:#EFEFEF;}/*已结束*/

            .load_wrap.reviewstate{border:1px dashed #D8D8DF;}/*已上架*/
            .load_wrap.closedstate{border:1px dashed #999;}/*已删除*/
            .load_wrap.lockedstate{border:1px dashed #e9acb7;}/*锁定中*/
            .load_wrap a.count{color:#058dc7}
            .load_wrap a.apply{color:#ed561b}

        </style>
        <div class="body_wrap" id="body_wrap">
            <div class="type_wrap">
                管理优惠券
                <a href="/discount/setting?act=publish&bid={{ bid }}" class="modify" data-input="limit" title="添加优惠"><i class="icon-plus"></i> 添加优惠券</a>
            </div>
            {% for d in discounts %}
            <div class="load_wrap modelList {{ d.check_status['status'] }} {{ d.check_state['state'] }}" data-did="{{ d.id }}" title="免费领({{ d.check_status['word'] }})">
                <div class="coupon-image">
                    <img src="/resource/attachment/images/{{ d.image }}">
                </div>
                <div class="coupon-intro">
                    <h1>
                        {{ d.brand.name }} </h1>

                    <h2>
                        <span class="class-{{ d.type }}"></span>
                        <a href="/discount/detail?id={{ d.id }}&brand_id={{ bid }}" target="_blank">{{ d.title }}</a>
                    </h2>
                </div>
                <div class="coupon-class">
                    <div class="class-opt">
                        <a href="javascript:void(0);" class="modify" data-input="limit" title="延长发放"><i
                                class="icon-off"></i></a>

{#                        <a href="/discount/ascend?id={{ d.id }}" title="提升排名"#}
{#                           class="" onclick="return confirm('是否要在找优惠提升此券的排名？');return false;"><i#}
{#                                class="icon-cloud-upload"></i></a>#}
                        <a href="/discount/spread?id={{ d.id }}" title="首页下架"
                           class="" onclick="return confirm('是否要在首页下架此券？');return false;"><i class="icon-stop"></i></a>
                        <a href="/discount/coupon?id={{ d.id }}" title="分析" class=""><i
                                class="icon-bar-chart"></i></a>
                        <a href="/discount/qrcode?id={{ d.id }}" title="二维码"
                           class=""><i class="icon-qrcode"></i></a>
                        <a href="/discount/delete?id={{ d.id }}" title="删除"
                           class="remove" onclick="return confirm('此操作不可恢复，确认删除？');return false;"><i
                                class="icon-remove"></i></a>
                        <a href="/discount/setting?id={{ d.id }}&act=modify" title="编辑"
                           class=""><i class="icon-cog"></i></a>
                    </div>
                    <div class="class-inf">
                        <i class="icon-time"></i>
					<span class="knock" title="每日开抢时间">{% if d.supply=='00' %}全天{% else %}{{ d.supply }}时{% endif %}</span>
                        <i class="icon-lock"></i>
					<span class="allow" title="每人限领次数">{% if d.perple==10000 %}不限{% else %}{{ d.perple }}次{% endif %}</span>
                        <i class="icon-tags"></i>
                        <a class="count" href="/discount/getlist?bid={{ bid }}&did={{ d.id }}">
                            <span class="count" title="发放{{ d.count }}份">{{ d.count }}</span>
                        </a>/
                        <a class="apply" href="/discount/getlist?bid={{ bid }}&did={{ d.id }}&status=usedit">
                            <span class="count" title="回收{{ d.back }}份">{{ d.back }}</span>
                        </a>
                        <span class="total">{{  d.number}}/天</span>
                        <i class="icon-calendar"></i>
                        <span class="start" title="发布日期：{{ d.create_at }}">{{ d.create_at| get_date }}</span>-
                        <span class="limit" title="最后修改：{{ d.latest_update }}">{{ d.latest_update| get_date }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="body_wrap">
            <div class="alert alert-block">
                <div><strong>推广技巧：</strong>点击优惠券标题名称，打开领取页面，复制浏览器地址栏里的URL，粘入微信群发图文的阅读原文，用户可通过此图文直接领券。</div>
            </div>
        </div>
        <div class="body_wrap">
            <div class="load_tips">加载中..</div>
        </div>
    </div>

    <div id="textWindow" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style=" width:600px;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>优惠券增发程序</h3></div>
        <div class="modal-body">
            <div id="module-menus">
                <table class="table-hover">
                    <tbody>
                    <tr class="totalText">
                        <td style="width:80px;">增加数量</td>
                        <td>
                            <div style="display:block; margin-top:10px;" class="input-append">
                                <input type="text" name="total" class="span2 modifyText" style="width:67px;"
                                       maxlength="3" value="30">
                                <button class="btn" type="button">张</button>
                            </div>
                        </td>
                    </tr>
                    <tr class="limitText">
                        <td style="width:80px;">延长时间</td>
                        <td>
                            <div style="display:block; margin-top:10px;" class="input-append">
                                <input type="text" name="limit" class="span2 modifyText" style="width:67px;"
                                       maxlength="2" value="30">
                                <button class="btn" type="button">天</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td style="width:30px;"></td>
                        <td>
                            <a href="javascript:void(0);" class="btn">确认提交</a>
                            <span></span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
    <script type="text/javascript">
        $(function () {
            var modifyUrl = "http://mob.32184.com/site.php?name=discount&act=module&do=append";
{#            var modifyUrl = "/discount/modify";#}
            $('.modelList').each(function () {
                var model = this;
                var modelId = $(this).attr('data-did');

                //修改信息
                $('a.modify', this).live('click', function () {
                    var modifyName = $(this).attr('data-input');//修改的字段名
                    $('#textWindow tbody .' + modifyName + 'Text').show().siblings().hide();
                    $('#textWindow tfoot span').hide();
                    $('#textWindow tfoot .btn').attr('data-did', modelId).attr('data-input', modifyName);
                    $('#textWindow').modal();
                });
            });

            //修改数据
            $('#textWindow tfoot .btn').live('click', function () {
                var modifyId = $(this).attr('data-did');
                var modifyName = $(this).attr('data-input');
                var modifyText = $('#textWindow tbody .modifyText[name="' + modifyName + '"]');

                $('#textWindow tfoot span').text('提交中..').show();
                $.getJSON(modifyUrl + '&did=' + modifyId, modifyText.serialize(), function (result) {
                    if (result.type == 'success') {
                        $('#textWindow').modal('hide');
                        $('.modelList[data-did="' + modifyId + '"]').find('span.' + modifyName).text(result.message[modifyName]);
                    } else {
                        $('#textWindow tfoot span').text(result.message);
                    }
                });
            });
        });
    </script>
    <div class="show_foot">
        <div class="foot_wrap">
            <p>© 2015 <b>汝州百事优惠圈商务</b></p>
        </div>
    </div>

    </body>
    </html>
{% endblock %}