<div class="head">
    <div class="wrap">
        <!-- 左侧导航菜单 -->
        <ul class="hnav-main text-center unstyled pull-left" style="width:567px;">
            <li class="hnav-parent "><a href="javascript:void(0);" class="menu" data-type="customer">总览</a></li>
            <li class="hnav-parent "><a href="javascript:void(0);" class="menu" data-type="business">门店</a></li>
            <li class="hnav-parent "><a href="javascript:void(0);" class="menu" data-type="discount">优惠</a></li>
            <li class="hnav-parent "><a href="javascript:void(0);" class="menu" data-type="analysis">分析</a></li>
        </ul>

        <!-- 右侧导航菜单 -->
        <ul class="hnav-manage text-center unstyled pull-right" style="float:right;">
            <li class="hnav-parent">
                <a href="javascript:void(0);">
                    <i class="icon-large icon-windows"></i>券多多洛阳站 </a>
            </li>
            <li class="hnav-parent">
                <a href="javascript:void(0);" class="menu" data-type="config">
                    <i class="icon-large icon-cog"></i>设置
                </a>
            </li>
            <li class="hnav-parent">
                <a href="javascript:void(0);" class="menu" data-type="manage">
                    <i class="icon-large icon-user"></i>管理
                </a>
            </li>
            <li class="hnav-parent">
                <a href="index.php?act=login&amp;do=out">
                    <i class="icon-large icon-signout"></i>退出
                </a>
            </li>
        </ul>
    </div>
</div>