<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>汝州百事优惠圈</title>
    <meta name="keywords" content="汝州百事优惠圈,优惠券,手机优惠券,电子优惠券,微信优惠券">
    <meta name="description" content="汝州百事优惠圈是一个借助于微信APP免费发放电子优惠券的公众平台。">
    <link type="text/css" rel="stylesheet" href="/resource/style/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/resource/style/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/resource/style/common.css?v=1445771744">
    <link type="text/css" rel="stylesheet" href="/resource/style/search.css?v=1445771744">
    <script type="text/javascript" src="/resource/script/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/resource/script/bootstrap.js"></script>
    <script type="text/javascript" src="/resource/script/common.js"></script>
    <script type="text/javascript" src="/resource/script/avatar.js"></script>
    <script type="text/javascript">
        cookie.prefix = 'cb65_';
    </script>
    <!--[if IE 7]>
<link rel="stylesheet" href="/resource/style/font-awesome-ie7.min.css">
<![endif]-->
    <!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/resource/style/bootstrap-ie6.min.css">
<link rel="stylesheet" type="text/css" href="/resource/style/ie.css">
<![endif]-->
</head>
<body>
<div class="message alert alert-success">
    <div class="icon pull-left"><i class="icon-ok"></i></div>
    <div class="content">
        <h4>{{ tip }}</h4>

        <p><a href="{{ url }}">如果你的浏览器没有自动跳转，请点击此链接</a></p>
        <script type="text/javascript">
            setTimeout(function () {
                location.href = '{{ url }}';
            }, 1000);
        </script>
    </div>
</div>
<div class="show_foot">
    <div class="foot_wrap">
        <p>© 2015 <b>汝州百事优惠圈商务</b></p>
    </div>
</div>


</body>
</html>