{% extends 'mobile_layout.html' %}
{% block page_title %}关于{% endblock %}
{% block content %}
<body>
<div class="show_body">
    <div class="body_wrap">
        <div class="load_wrap">
            <div class="coupon-header">
                <h3><img src="/static/themes/mobile/default/images/icon1.png"/> 关于汝州百事优惠圈</h3>
                <span>手机优惠券</span>
            </div>
            <div class="coupon-footer">
                <h3>产品介绍：</h3>

                <p>
                    <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;汝州百事优惠圈是一个借助于微信APP免费发放电子优惠券的公众平台。</font>
                </p>

                <p>
                    <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;汝州百事优惠圈是一个用来解决实体商家营销需求的平台。商家的需求是多样性的，如：培养消费习惯、形成口碑传播、盘活闲置资源、烘托现场人气、取得用户信任、薄利多销、强化品牌。</font>
                </p>

                <h3>产品特色：</h3>

                <p>
                    <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;汝州百事优惠圈五大优惠模式-特价、满减、折扣、抵现、免单。</font>
                </p>

                <p>
                    <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;每天限量发行，风险把控能力出众。</font>
                </p>

                <p>
                    <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;优惠券多渠道发放，可接入商家公众号，可在优惠券平台上架，亦可在线下扫二维码领取，用户无需注册账号。</font>
                </p>

                <p>
                    <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;集成微信模板消息，可实现优惠券的过期提醒，领取和使用通知等即时消息。</font>
                </p>
            </div>
            <div class="coupon-other last">
                <p>
                    了解详情请访问：www.32184.com
                </p>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}