{% extends 'mobile_layout.html' %}
{% block page_title %}代理{% endblock %}
{% block content %}

    <div class="show_body">
        <div class="body_wrap">
            <div class="load_wrap">
                <div class="coupon-header">
                    <h3><img src="/static/themes/mobile/default/images/icon1.png"> 代理加盟政策</h3>
                    <span>手机优惠券</span>
                </div>
                <div class="coupon-footer">
                    <h3>代理加盟：</h3>

                    <p>
                        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;券多多平台面向全国诚招合作运营伙伴。</font>
                    </p>

                    <p>
                        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;谁最需要我们？正在苦苦寻找一个能搞营销活动的平台而非团购的商家；想获得生活优惠却不会团购的一群人；运营微信订阅号却苦无转化路径的自媒体平台。</font>
                    </p>

                    <p>
                        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;来吧，一起创造一个新传奇。</font>
                    </p>

                    <p>
                        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;如果您已了解并认同他的价值，也想做同样的事，那么请加入我们的新媒体联盟。</font>
                    </p>
                </div>
                <div class="coupon-other last">
                    <p>
                        <a href="tel:0392-3321907">产品经理手机号：<span>18639210124</span></a>
                    </p>
                </div>
                <div class="coupon-other last">
                    <p>
                        <a href="tel:0392-3321907">市场部咨询电话：<span>0379-63002296</span></a>
                    </p>
                </div>
                <div class="coupon-other last">
                    <p>
                        <a href="tel:0392-3321907">业务顾问手机号：<span>18638889951</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}