<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>汝州百事优惠圈</title>
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/style/vlight.css?1448816541" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/icons/iconfont.css"/>
    <script type="text/javascript" src="/static/themes/mobile/style/jquery-2.1.4.min.js"></script>
</head>

<body>
<div class="show_body wide" style="">
    <div class="body_wrap">

        <div class="load_wrap">
            <div class="coupon-other" style="">
                <p><a href="/find?type=home">
                    <i class="iconfont icon-similar"></i>
                    找优惠<span>领券新入口</span>
                </a></p>
            </div>
        </div>
        <div class="load_wrap">
            <div class="coupon-other" style="">
                <p><a href="/find?search=home">
                    <i class="iconfont icon-similar"></i>
                    周边<span>新</span>
                </a></p>
            </div>
        </div>
{#        <div class="load_wrap">#}
{#            <div class="coupon-other tips" style="">#}
{#                <p><a href="find?type=freeing">#}
{#                    <i class="iconfont icon-redpacket"></i>#}
{#                    免单专区<span></span>#}
{#                </a></p>#}
{#            </div>#}
{#        </div>#}

    </div>
</div>

<div class="show_foot">
    <div class="foot_wrap">
        <table cellspacing="0" class="find">
            <tr>
                <td width="25%" class=" customer"><a href="/my_favorite_shop"><span></span><i
                        class="iconfont icon-tag"></i>收藏</a></td>
                <td width="25%" class=" checkout"><a href="/my_tickets"><span></span><i
                        class="iconfont icon-pay"></i>券包</a></td>
                <td width="25%" class=" find"><a href="/center"><span></span><i
                        class="iconfont icon-attention"></i>发现</a></td>
                <td width="25%" class=" fans"><a href="/user_home"><span></span><i
                        class="iconfont icon-my"></i>我的</a></td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
        WeixinJSBridge.call('showOptionMenu');
    }, false);
</script>

</body>
</html>