<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>券多多商务</title>
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/style/vlight.css?1449520733" media="all">
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/icons/iconfont.css">
    <script type="text/javascript" src="/static/themes/mobile/style/jquery-2.1.4.min.js"></script>
</head>

<body>
<div class="show_body wide">
    <div class="body_wrap">
        <div class="load_tips"><span></span></div>
        <div class="load_wrap">
            <form action="" class="form-horizontal form"  method="post"
                  style="float:left;">
                {{ form.csrf_token() }}
                <div class="coupon-other">
                    <input type="text" id="mobile" name="mobile" placeholder="请输入手机号"
                               style="width: 100%;padding-top: 20px;font-size: 40px;border: none;display: block;margin-top: 10px;" value="">

                </div>
            </form>
        </div>
        <div class="load_wrap">
            <div class="coupon-intro post">
                <a href="javascript:void(0);" id="submit">
                    提交
                </a>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#submit').click(function () {
            requireSubmit($('#mobile').val());
        });
    });

    var getJSONURL = "/check_saler_info?do=check&bid={{ brand_id }}";
    function requireSubmit(mobile) {
        $('.load_tips').html('<span>保存中..</span>').fadeIn();
        $.getJSON(getJSONURL + '&mobile=' + mobile, function (data) {
            //消息提示
            $('.load_tips span').text(data.message);
            setTimeout(function () {
                if (data.type == 'success') {
                    location.href = "/user_home";
                } else {
                    $('.load_tips').fadeOut();
                }
            }, 1000);
        });
    }
    ;
</script>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
        WeixinJSBridge.call('hideOptionMenu');
    }, false);
</script>
<div class="show_link">
    <a href="/about" rel="external">
        关于汝州百事优惠圈
    </a> |
    <a href="/fabu" rel="external">
        我要发布
    </a> |
</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    function WeixinJSBridgeShare(_share_image, _share_title, _share_intro, _share_place, isallowfirend) {
        wx.config({
            debug: false,
            appId: 'wx5fde911c005a3234',
            timestamp: '1449520733', // 生成签名的时间戳
            nonceStr: 't5HKXAXam9', // 生成签名的随机串
            signature: 'f02135578367d70fd46c26dae648e11c15f40361',// 签名
            jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'hideMenuItems',
                'showMenuItems',
                'getNetworkType',
                'openLocation',
                'getLocation',
                'scanQRCode',
            ]
        });

        // 用户来源
        _share_place += '&fromuser=o0924t9116VPHIDYJiV94jGXD4qk';
        // 发送给好友
        wx.onMenuShareAppMessage({
            title: _share_title, // 分享标题
            desc: _share_intro, // 分享描述
            link: _share_place + '&come=transmit&wxref=mp.weixin.qq.com', // 分享链接
            imgUrl: _share_image  // 分享图标
        });
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: _share_title + _share_intro, // 分享标题
            link: _share_place + '&come=timeline&wxref=mp.weixin.qq.com', // 分享链接
            imgUrl: _share_image  // 分享图标
        });

        wx.hideMenuItems({
            menuList: [
                'menuItem:share:email',
                'menuItem:share:qq',
                'menuItem:copyUrl',		// 复制链接
                'menuItem:readMode',	// 阅读模式
                'menuItem:openWithSafari',
                'menuItem:openWithQQBrowser'
            ] // 要隐藏的菜单项，所有menu项见附录3
        });
    }
</script>


</body>
</html>