{% extends 'mobile_layout.html' %}
{% block page_title %}如何发布活动{% endblock %}
{% block content %}
    <div class="show_body">
        <div class="body_wrap">
            <div class="load_wrap">
                <div class="coupon-header">
                    <h3><img src="/static/themes/mobile/default/images/icon1.png"> 如何发布活动</h3>
                    <span>手机优惠券</span>
                </div>
                <div class="coupon-footer">
                    <h3>发布途径：</h3>

                    <p>
                        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;券多多可发布营销活动，扩大受众渠道，降低推广成本。</font>
                    </p>

                    <p>
                        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;当前访问的平台归属于市辖区。</font>
                    </p>

                    <p>
                        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;请联系我们的业务专员。</font>
                    </p>
                </div>
                <div class="coupon-other last">
                    <p>
                        <a href="http://mp.weixin.qq.com/s?__biz=MjM5NDg5MjM3Nw==&amp;mid=201343548&amp;idx=1&amp;sn=a8db5d0c90ce4cf1da80834fddafac44#rd">了解详情请关注：<span>券多多洛阳站</span></a>
                    </p>
                </div>
                <div class="coupon-other">
                    <p>
                        <a href="tel:0379-65233693">业务受理请拨打：<span>0379-65233693</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}