{% extends 'account_layout.html' %}
{% block content %}
    <body>

    <!-- div class="show_body">
        <div class="head_wrap">
            <div class="class modify">
            <ul>
                <li><a href="brand.php?act=display">管理品牌</a></li>
                <li class="modify"><a href="">编辑品牌</a></li>
            </ul>
            </div>
        </div>
    </div -->
    <div class="main">
        <form action="" class="form-horizontal form" onsubmit="return checkProfile();" method="post"
              style="float:left;">
            <h4>编辑品牌</h4>
            <table class="tb">
                <tbody>
                <tr>
                    <th><label for="">品牌名称</label></th>
                    <td>
                        <div class="input-append">
                            <input type="text" name="brand" id="brand" value="" data-value="" class="span6">
                            <button type="button" class="btn" name="brandBtn" value="查找品牌" onclick="">查找品牌</button>
                        </div>
                        <div id="brand-append" style="margin-top:10px;">
                            <span class="help-block"><b>选择此品牌的行业。</b></span>

                            <div class="brand-append">
                                <select name="industry_1" id="industry_1" value="" class="span3">
                                    <option value="">不限</option>
                                    <option value="美食">美食</option>
                                    <option value="休闲娱乐">休闲娱乐</option>
                                    <option value="购物">购物</option>
                                    <option value="丽人">丽人</option>
                                    <option value="旅游">旅游</option>
                                    <option value="运动健身">运动健身</option>
                                    <option value="酒店">酒店</option>
                                    <option value="生活服务">生活服务</option>
                                </select> //
                                <select name="industry_2" id="industry_2" value="" class="span3">
                                    <option value="">不限</option>
                                </select>
                            </div>
                            <span class="help-block"><b>输入此品牌的简介。</b></span>

                            <div class="brand-append">
                            <textarea style="height:80px;" class="span6" name="intro" cols="70"
                                      placeholder="可留空不填"></textarea>
                            </div>

                            <span class="help-block">上传<b>宽度 640 高度 260</b> 的图片设为背景</span>

                            <div class="fileupload fileupload-preview thumbnail"
                                 style="width: 320px; height: 130px; overflow:hidden;" id="image_preview">
                                <img src="http://mob.32184.com/resource/attachment/back.jpg"></div>
                            <input class="span3" type="text" name="image" id="image" value="back.jpg">

                            <div class="ke-inline-block btn upload-btn" style="font-size:14px;width:80px;height:20px;">
                                <iframe name="kindeditor_upload_iframe_1445682333571" style="display:none;"></iframe>
                                <form class="ke-upload-area ke-form" method="post" enctype="multipart/form-data"
                                      target="kindeditor_upload_iframe_1445682333571"
                                      action="./index.php?act=attachment&amp;do=upload"><span><i
                                        class="icon-upload-alt"></i> 上传</span><input type="file" style="cursor:pointer;"
                                                                                     class="ke-upload-file"
                                                                                     name="imgFile"
                                                                                     tabindex="-1"></form>
                            </div>
                            <input type="button" fieldname="image" class="btn upload-btn"
                                   value="<i class='icon-upload-alt'></i> 上传"
                                   style="font-size: 14px; width: 80px; height: 20px; display: none;">

                            <span class="help-block">上传<b>宽度 160 高度 160</b> 的图片设为图标</span>

                            <div class="fileupload fileupload-preview thumbnail"
                                 style="width: 80px; height: 80px; overflow:hidden;" id="thumb_preview">
                                <img src="http://mob.32184.com/resource/attachment/icon.jpg"></div>
                            <input class="span3" type="text" name="thumb" id="thumb" value="icon.jpg">

                            <div class="ke-inline-block btn upload-btn" style="font-size:14px;width:80px;height:20px;">
                                <iframe name="kindeditor_upload_iframe_1445682333595" style="display:none;"></iframe>
                                <form class="ke-upload-area ke-form" method="post" enctype="multipart/form-data"
                                      target="kindeditor_upload_iframe_1445682333595"
                                      action="./index.php?act=attachment&amp;do=upload"><span><i
                                        class="icon-upload-alt"></i> 上传</span><input type="file" style="cursor:pointer;"
                                                                                     class="ke-upload-file"
                                                                                     name="imgFile"
                                                                                     tabindex="-1"></form>
                            </div>
                            <input type="button" fieldname="thumb" class="btn upload-btn"
                                   value="<i class='icon-upload-alt'></i> 上传"
                                   style="font-size: 14px; width: 80px; height: 20px; display: none;">

                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button type="submit" class="btn btn-primary span3" name="submit" value="提交">
                            提交
                        </button>
                        <input type="hidden" name="token" value="f50075d3">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <div id="demoSendBox" style="position:fixed;margin-left:700px;">
            <div class="form" style="width:300px;display:none;">
                <h4>找到品牌</h4>

                <div class="side_wrap" style="display:none;"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ static('js/industry.js') }}"></script>
    <script type="text/javascript">
        <!--
        $('.upload-btn').each(function () {
            kindeditorUploadBtn($(this), uploadHander);
        });

        function uploadHander(obj, data) {
            $("#" + obj.button.attr('fieldname')).val(data.filename);
            $("#" + obj.button.attr('fieldname') + '_preview').html('<img src="' + data.url + '" />');
        }
        //-->
    </script>
    <script type="text/javascript">
        $(function () {
            //查找品牌数据
            var value = '';
            $('#brand').keyup(function () {
                if (this.value != value && this.value.length > 1) {
                    value = this.value;
                    fillQuery();
                }
            });
            $('#industry_1').change(function () {
                fillQuery();
            });
            //当前选择类别
            $('.singleSelect').each(function () {
                $('.btn[value="' + $('input', this).val() + '"]', this).addClass('active').siblings().removeClass('active');
                $('.btn', this).click(function () {
                    $(this).parent().next('input').val($(this).attr('value'))
                            .next().text($(this).attr('title'));
                });
            });
        });

        function fillQuery() {
            if ($('#brand').val() == '') return false;
            var getJSONURL = "/brand/search";
            $.getJSON(getJSONURL + '&brand=' + $('#brand').val() + '&class=' + $('#industry_1').val(),
                    function (data) {
                        if (data.type == 'ajax' && data.message) {
                            var html = $('<div class="side_wrap" style="display:none;"></div>');
                            for (property in data.message) {
                                $('<div class="load_wrap activity">' +
                                        '<a href="http://mob.32184.com/brand.php?act=modify&bid=' + data.message[property].bid + '">' +
                                        '<div class="coupon-image">' +
                                        '<img src="http://mob.32184.com/resource/attachment/' + data.message[property].thumb + '" />' +
                                        '</div>' +
                                        '<div class="coupon-intro">' +
                                        '<p class="title">' + data.message[property].brand + '</p>' +
                                        '<p class="count"><b>' + data.message[property].count + '</b>个<span>地区启用，点击添加</span></p>' +
                                        '<p class="other">' + data.message[property].industry1 + ' ' + data.message[property].industry2 + '</p>' +
                                        '</div>' +
                                        '</a>' +
                                        '</div>').appendTo(html);
                            }

                            $('#demoSendBox .form').fadeIn().find('.side_wrap').replaceWith(html);
                            $('.side_wrap').fadeIn();
                        }
                    }
            );
        }
        ;
    </script>
    <div class="show_foot">
        <div class="foot_wrap">
            <p>© 2015 <b>券多多商务</b></p>
        </div>
    </div>


    </body>
{% endblock %}