<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>券多多洛阳站</title>
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/style/vlight.css?1450644443" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile/icons/iconfont.css"/>
    <script type="text/javascript" src="/static/themes/mobile/style/jquery-2.1.4.min.js"></script>
</head>

<body>
<div class="show_head store">
    <div class="head_back">
       <img src="/resource/attachment/images/{{ shop.brand.image }}">
    </div>
    <div class="head_wrap">
         <div class="load_wrap">
                <div class="store-brand">
                <span><img
                        src="/resource/attachment/images/{{ shop.brand.image }}"></span>
                </div>
                <div class="store-title">
                    <h3>{{ shop.brand.name }}</h3>
                    <h4>{{ shop.address }}</h4>
                </div>
            </div>
    </div>
</div>
<div class="show_body">
    <div class="body_wrap">
        {% for p in photos %}
        <div class="load_wrap">
            <a href="/shop/photo_detail/{{ p.id }}">
                <img src="/resource/attachment/images/{{ p.image }}"
                     width="100%">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="show_link">
    <a href="/about" rel="external">
        关于券多多
    </a> |
    <a href="/fabu" rel="external">
        我要发布
    </a> |
    <a href="/agent" rel="external">
        代理加盟
    </a>
</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    function WeixinJSBridgeShare(_share_image, _share_title, _share_intro, _share_place, isallowfirend) {
        wx.config({
            debug: false,
            appId: 'wx8f515e4a43bc2e8d',
            timestamp: '1450644443', // 生成签名的时间戳
            nonceStr: 'x3h2hwCwC3', // 生成签名的随机串
            signature: '01700c2b9deaced9e061496723621f82fec6d2e6',// 签名
            jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'hideMenuItems',
                'showMenuItems',
                'getNetworkType',
                'openLocation',
                'getLocation',
                'scanQRCode',
            ]
        });

        // 用户来源
        // 发送给好友
        wx.onMenuShareAppMessage({
            title: _share_title, // 分享标题
            desc: _share_intro, // 分享描述
            link: _share_place + '&come=transmit&wxref=mp.weixin.qq.com', // 分享链接
            imgUrl: _share_image  // 分享图标
        });
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: _share_title + _share_intro, // 分享标题
            link: _share_place + '&come=timeline&wxref=mp.weixin.qq.com', // 分享链接
            imgUrl: _share_image  // 分享图标
        });

        wx.hideMenuItems({
            menuList: [
                'menuItem:share:email',
                'menuItem:share:qq',
                'menuItem:copyUrl',		// 复制链接
                'menuItem:readMode',	// 阅读模式
                'menuItem:openWithSafari',
                'menuItem:openWithQQBrowser'
            ] // 要隐藏的菜单项，所有menu项见附录3
        });
    }
</script>

</body>
</html>