{% extends 'account_layout.html' %}
{% from 'macro/form.html' import form_field %}
{% block content %}
    <body>

    <link type="text/css" rel="stylesheet" href="/resource/style/thumb.css?v=">
    <style type="text/css">
        div.thumbwrap dl dt img {
            width: 80px;
            height: 80px;
            margin: 10px auto;
        }
    </style>

    <div class="show_body">
        <div class="head_wrap">
            <div class="order">
                <a href="/brand/add"><i class="icon-plus"></i> 添加品牌</a>
            </div>
            <div class="class normal">
                <ul>
                    <li class="normal"><a href="">选择品牌</a></li>
                    <li class=""><a href="/brand/manage">管理品牌</a></li>
                </ul>
            </div>
        </div>
        <div class="body_wrap thumbwrap" id="body_wrap">
            <div class="type_wrap">
                第1步.<b style="color:#44b549;">选择品牌</b> &gt; 第2步.{{ handle }}
            </div>
            {% for b in brands %}
            <dl>
                <dt><a href="/shop/setting?bid={{ b.id }}&act={{ act }}"><img
                        src="/resource/attachment/images/{{ b.thumb }}"></a>
                </dt>
                <dd>{{ b.name }}</dd>
            </dl>
            {% endfor %}
            <dl title="CTRL+F 可快速查找">
                <dt><a href="/brand/add"><img src="/resource/attachment/icon.jpg"></a></dt>
                <dd>未添加？</dd>
            </dl>
        </div>
        <div class="body_wrap">
            <div class="load_tips">加载中..</div>
        </div>
    </div>
    <div class="show_foot">
        <div class="foot_wrap">
            <p>© 2015 <b>汝州百事优惠圈商务</b></p>
        </div>
    </div>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?50b4952461c191a55d14ad9dbe6b22ae";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    </body>
{% endblock %}