<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>券多多洛阳站</title>
    <link rel="stylesheet" type="text/css" href="./themes/mobile/style/vlight.css?1445675271" media="all"/>
    <link rel="stylesheet" type="text/css" href="./themes/mobile/icons/iconfont.css"/>
    <script type="text/javascript" src="./themes/mobile/style/jquery-2.1.4.min.js"></script>
</head>

<body>
<div class="show_head store">
    <div class="head_back">
        <img src="http://mob.32184.com/resource/attachment/images/10014/2015/05/bzi9iZZMM7pwmoaayU3cd5ypi9AVoc.jpg">
    </div>
    <div class="head_wrap">
        <div class="load_wrap">
            <div class="store-brand">
                <span><img
                        src="http://mob.32184.com/resource/attachment/images/10014/2015/05/qT42522XH9A7t9XT9R2th49hf79TD2.jpg"></span>
            </div>
            <div class="store-title">
                <h3>洛阳科技职业学院游泳馆</h3>
                <h4>新安县学院路</h4>
            </div>
        </div>
    </div>
</div>
<div class="show_body">
    <div class="body_wrap">
        <div class="load_wrap">
            <div class="coupon-tip"><span>已成功加入我的收藏</span></div>
            <div class="coupon-table">
                <table cellspacing="0">
                    <tr>
                        <td><a href="tel:13608653337"><i class="iconfont icon-phone"></i>电话</a></td>
                        <td><a href="business.php?sid=120010848&weid=10014&do=maps"><i
                                class="iconfont icon-location"></i>地图</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="load_wrap activity">
            <div class="coupon-other">
                <p>抢优惠券<span>共0条优惠</span></p>
            </div>
        </div>
        <div class="load_wrap">
            <div class="coupon-other scorewrap small">
                <p class="score4">
                    <a href="fans.php?do=score&weid=10014&sid=120010848">
                        <label class="title"></label>
                        <label class="score"></label>
                        <label class="score"></label>
                        <label class="score"></label>
                        <label class="score"></label>
                        <label class="score"></label>
                        <label class="grade">
                            <i>4.8</i>
                        </label>
						<span class="count">
							17人点评
						</span>
                    </a>
                </p>
            </div>
        </div>
        <div class="load_wrap">
            <div class="coupon-other">
                <p>
                    <span>4张</span>
                    <a href="business.php?sid=120010848&weid=10014&do=album">门店相册</a>
                </p>
            </div>
            <div class="coupon-photo">
                <table cellspacing="0">
                    <tr>
                        <td><a href="business.php?aid=1234568921&weid=10014&do=photo"><img
                                src="http://mob.32184.com/resource/attachment/images/10014/2015/05/Ne3uUEO2ySVX6U6s46A7s2sT8627O6.jpg"/></a>
                        </td>
                        <td><a href="business.php?aid=1234568922&weid=10014&do=photo"><img
                                src="http://mob.32184.com/resource/attachment/images/10014/2015/05/rYhsGksA4HbYhzY6YRy0XB0Hy40h0b.jpg"/></a>
                        </td>
                        <td><a href="business.php?aid=1234568923&weid=10014&do=photo"><img
                                src="http://mob.32184.com/resource/attachment/images/10014/2015/05/zdO699ipdzQd7pjJoDw44G4l7467dU.jpg"/></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="load_wrap">
            <div class="coupon-other">
                <p><a href="http://mob.32184.com/find.php?weid=10014">查找更多商家</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _share_image = "http://mob.32184.com/resource/attachment/images/10014/2015/05/qT42522XH9A7t9XT9R2th49hf79TD2.jpg";
    var _share_title = "洛阳科技职业学院游泳馆";
    var _share_intro = "快来领取手机优惠券吧";
    var _share_place = "http://mob.32184.com/business.php?do=store&sid=120010848&weid=10014&path=store&param=120010848";
    var isallowfirend = "true";

    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
        WeixinJSBridge.call('showOptionMenu');
        WeixinJSBridgeShare(_share_image, _share_title, _share_intro, _share_place, isallowfirend);
    }, false);
</script>
<div class="show_link">
    <a href="fans.php?do=intro&weid=10014" rel="external">
        关于券多多
    </a> |
    <a href="fans.php?do=store&weid=10014" rel="external">
        我要发布
    </a> |
    <a href="fans.php?do=agent&weid=10014" rel="external">
        代理加盟
    </a>
</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    function WeixinJSBridgeShare(_share_image, _share_title, _share_intro, _share_place, isallowfirend) {
        wx.config({
            debug: false,
            appId: 'wx8f515e4a43bc2e8d',
            timestamp: '1445675271', // 生成签名的时间戳
            nonceStr: 'CAPd1f3SI3', // 生成签名的随机串
            signature: '3a71d2b04e21e9a607477633900a3bf6f5b4f63c',// 签名
            jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'hideMenuItems',
                'showMenuItems',
                'getNetworkType',
                'openLocation',
                'getLocation',
                'scanQRCode',
            ]
        });

        // 用户来源
        // 发送给好友
        wx.onMenuShareAppMessage({
            title: _share_title, // 分享标题
            desc: _share_intro, // 分享描述
            link: _share_place + '&come=transmit&wxref=mp.weixin.qq.com', // 分享链接
            imgUrl: _share_image  // 分享图标
        });
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: _share_title + _share_intro, // 分享标题
            link: _share_place + '&come=timeline&wxref=mp.weixin.qq.com', // 分享链接
            imgUrl: _share_image  // 分享图标
        });

        wx.hideMenuItems({
            menuList: [
                'menuItem:share:email',
                'menuItem:share:qq',
                'menuItem:copyUrl',		// 复制链接
                'menuItem:readMode',	// 阅读模式
                'menuItem:openWithSafari',
                'menuItem:openWithQQBrowser'
            ] // 要隐藏的菜单项，所有menu项见附录3
        });
    }
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?50b4952461c191a55d14ad9dbe6b22ae";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>