{% extends 'mobile_layout.html' %}
{% block content %}
    <body>
    <div class="show_head store">
        <div class="head_back">
            <img src="/resource/attachment/images/{{ shop.brand.image }}">
        </div>
        <div class="head_wrap">
            <div class="load_wrap">
                <div class="store-brand">
                <span><img
                        src="/resource/attachment/images/{{ shop.brand.thumb }}"></span>
                </div>
                <div class="store-title">
                    <h3>{{ shop.brand.name }}</h3>
                    <h4>{{ shop.address }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="show_body">
        <div class="body_wrap">
            <div class="load_wrap">
                <div class="coupon-tip"><span>已成功加入我的收藏</span></div>
                <div class="coupon-table">
                    <table cellspacing="0">
                        <tr>
                            <td><a href="tel:{{ shop.phone }}"><i class="iconfont icon-phone"></i>电话</a></td>
{#                            <td><a href="business.php?sid=120010848&weid=10014&do=maps"><i#}
{#                                    class="iconfont icon-location"></i>地图</a></td>#}
                        </tr>
                    </table>
                </div>
            </div>
            <div class="load_wrap activity">
                <div class="coupon-other">
                    <p>抢优惠券<span>共{{ shop.shop_discounts.count() }}条优惠</span></p>
                </div>
            </div>
{#            <div class="load_wrap">#}
{#                <div class="coupon-other scorewrap small">#}
{#                    <p class="score4">#}
{#                        <a href="fans.php?do=score&weid=10014&sid=120010848">#}
{#                            <label class="title"></label>#}
{#                            <label class="score"></label>#}
{#                            <label class="score"></label>#}
{#                            <label class="score"></label>#}
{#                            <label class="score"></label>#}
{#                            <label class="score"></label>#}
{#                            <label class="grade">#}
{#                                <i>4.8</i>#}
{#                            </label>#}
{#						<span class="count">#}
{#							17人点评#}
{#						</span>#}
{#                        </a>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
            <div class="load_wrap">
                <div class="coupon-other">
                    <p>
                        <span>4张</span>
                        <a href="/shop/photo_list?bid={{ shop.brand_id }}&shop_id={{ shop.id }}">门店相册</a>
                    </p>
                </div>
                <div class="coupon-photo">
                    <table cellspacing="0">

                        <tr>
                            {% for s in shop_photos %}
                            <td>
                                <a href="/shop/photo_detail/{{ s.id }}"><img src="/resource/attachment/images/{{ s.image }}"/></a>
                            </td>

                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
            <div class="load_wrap">
                <div class="coupon-other">
                    <p><a href="/center">查找更多商家</a></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var _share_image = "{{website.url}}/resource/attachment/images/10014/2015/05/qT42522XH9A7t9XT9R2th49hf79TD2.jpg";
        var _share_title = "{{ shop.brand.name }}";
        var _share_intro = "快来领取手机优惠券吧";
        var _share_place = "{{website.url}}/business.php?do=store&sid=120010848&weid=10014&path=store&param=120010848";
        var isallowfirend = "true";

        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
            WeixinJSBridge.call('showOptionMenu');
            WeixinJSBridgeShare(_share_image, _share_title, _share_intro, _share_place, isallowfirend);
        }, false);
    </script>

    </body>
{% endblock %}