body{width:100%;margin:0;padding:0px;font-family:"微软雅黑",Helvetica,"黑体",Arial,Tahoma;}
img{border:0;vertical-align:middle}
h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li{margin:0px;}
a{text-decoration:none;}

.show_body{max-width:1000px;margin: auto;position: relative;background:white;}


.head_wrap{min-width: 960px;height: 62px;margin:6px 20px 0;font-size: 14px;overflow:hidden;}
.head_wrap span{height: 24px;font-size:16px;line-height:24px;}
.head_wrap span i{margin:0px 3px;color: #555555;}
.head_wrap .class{width:100%;height:40px;line-height:40px;border-bottom:2px solid #B2B2B2;}
.head_wrap .class li{float:left;height:40px;line-height:40px;list-style:none;margin-bottom: -1px;}
.head_wrap .class.normal li.normal,
.head_wrap .class.review li.review,
.head_wrap .class.closed li.closed,
.head_wrap .class.locked li.locked,
.head_wrap .class.follow li.follow,
.head_wrap .class.modify li.modify{border-bottom:#fe7a4f solid 2px;/*2px solid #44b549;*/}
.head_wrap .class select{width: 140px;height: 26px;line-height: 26px;}
.head_wrap .class a{display: block;color: #222;padding:0 24px;}
.head_wrap .order{height:39px;line-height:39px;margin:0 13px 0;float:right;}
.head_wrap .order select{height: 27px;line-height: 27px;margin:6px 0 10px;}
.head_wrap .query{width:180px;height: 24px;border:1px solid #E7E7EB;float:right;display: inline-block;position: relative;font-size: 14px;margin:6px 0 10px;padding: 0 6px;box-shadow: none;}
.head_wrap .query a{border-left: 1px solid #E7E7EB;width: 36px;right: 0;top: 0;text-align: center;position: absolute;}
.head_wrap .query input{width: 150px;height: 20px;line-height: 20px;margin: 0;padding: 0;border: 0;outline: 0;background-color: transparent;-webkit-box-shadow: none;}

.head_wrap .table{width:250px;height:28px;line-height:28px;text-align:center;margin:0px auto;border:1px solid #0079ff;border-radius:3px;background:#FFFFFF;}
.head_wrap .table h3{width:50%;height:100%;font-size:14px;font-weight:normal;float:left;}
.head_wrap .table a,
.head_wrap .table1 .tab2,
.head_wrap .table2 .tab1{color:#0079ff;}
.head_wrap .table1 .tab1,
.head_wrap .table2 .tab2{color:#FFFFFF;background:#0079ff;}

.menu_wrap{min-width: 960px;margin:0 20px;height:auto;display:none;margin-bottom:10px;background:#FFFFFF;z-index:1000;}
.menu_wrap dl{line-height:48px;padding:0px;border-bottom:1px solid #E5E5E5;}
.menu_wrap dt h4{width:268px;height:48px;line-height: 48px;color:#333333;text-indent:15px;font-weight:normal;}
.menu_wrap dt h5{float:right;}
.menu_wrap dt h5 i{color:#999;padding:0 15px;height:48px;line-height:48px;}
.menu_wrap dd{display:none;}
.menu_wrap dd ul{list-style:none;padding-left:15px;border-top:1px solid #E5E5E5;}
.menu_wrap dd li{font-size:14px;color:#999;border-bottom:1px dotted #EFEFEF;}
.menu_wrap dd li:last-child{border:none;}
.menu_wrap dl.active{height:auto;}
.menu_wrap dl.active dt h4{color:#1F7CE5;}
.menu_wrap dl.active dd{display:block;}


.body_wrap{min-width: 960px;height: auto;margin:0px 20px 30px 20px;cursor: pointer;}
.body_wrap .type_wrap{font-size:18px;color:#000000;line-height: 20px;padding:0 10px;overflow:hidden;}
.body_wrap .type_wrap span{color:#EC5B3C;font-size:16px;font-weight:bold;}

/*列表元素*/
.body_wrap .load_wrap{min-height:48px;padding:15px 20px;margin-top: 20px;position:relative;border:1px solid #E7E7EB;}
.body_wrap .load_wrap .coupon-image{width:48px;height:48px;display:inline-block;vertical-align: top;}
.body_wrap .load_wrap .coupon-image img{width:100%;height:100%;border-radius:0px;background:url("../images/loading_basic_16x16.gif") no-repeat scroll center transparent;}
.body_wrap .load_wrap .coupon-image .photo-intro{width: 240px;padding-left: 10px;position: absolute;top:15px;left:68px;z-index:9;display:none;}
.body_wrap .load_wrap .coupon-image .photo-intro .popover_inner{padding: 20px 25px;font-size:14px;border: 1px solid #D9DADC;background-color: white;}
.body_wrap .load_wrap .coupon-image .photo-intro .popover_inner a{margin-right:6px;}
.body_wrap .load_wrap .coupon-image .photo-intro .popover_arrow,
.body_wrap .load_wrap .coupon-image .photo-intro .popover_arrow_in{position: absolute;top: 24px;width: 0;height: 0;
	margin-left: -8px;
	margin-top: -8px;
	border-top-width: 0;
	border-bottom-color: #D9DADC;
	border-bottom-style: solid;
	border-width: 8px;
	border-style: dashed;
	border-color: transparent;
	border-left-width: 0;
	border-right-color: #D9DADC;
	border-right-style: solid;
}
.body_wrap .load_wrap .coupon-image .photo-intro .popover_arrow_in{left: 11px;border-right-color: white;}
.body_wrap .load_wrap .coupon-image:hover .photo-intro{display:block;}
.body_wrap .load_wrap .coupon-image.gender1 .photo-intro .popover_inner a{color:#0088CC;}/*男人*/
.body_wrap .load_wrap .coupon-image.gender2 .photo-intro .popover_inner a{color:#FF4488;}/*女人*/
.body_wrap .load_wrap .coupon-image.gender0 .photo-intro .popover_inner a{color:#8F8F60;}/*未知*/

.body_wrap .load_wrap .coupon-intro{width:400px;min-height:48px;display:inline-block;margin-left:6px;vertical-align: top;}
.body_wrap .load_wrap .coupon-intro h1{font-size:14px;font-weight:normal;color:#222222;margin:0px;line-height:24px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.body_wrap .load_wrap .coupon-intro h2{font-size:14px;font-weight:normal;color:#6F90E9;margin:0px;line-height:22px;margin:1px 0px;word-wrap:break-word; overflow:hidden;/*overflow: hidden;white-space: nowrap;text-overflow: ellipsis;*/}
.body_wrap .load_wrap .coupon-intro h1 a{color:#333333;}
.body_wrap .load_wrap .coupon-intro h2 a{color:#7f7f7f;}
.body_wrap .load_wrap .coupon-intro h2 a.light{color:#6F90E9;}
.body_wrap .load_wrap .coupon-intro h2 img{max-width:200px;}
/*
.body_wrap .load_wrap .coupon-intro h3{font-size:12px;font-weight:normal;color:#EC5B3C;margin:0px;line-height:18px;overflow:hidden;}
.body_wrap .load_wrap .coupon-intro h4{font-size:12px;font-weight:normal;color:#989898;margin:0px;line-height:18px;overflow:hidden;}
*/

.body_wrap .load_wrap .coupon-class{width:456px;height:48px;font-size:14px;text-align:right;display:inline-block;vertical-align: top;}
.body_wrap .load_wrap .coupon-class .class-opt{line-height:24px;}
.body_wrap .load_wrap .coupon-class .class-opt a{color:#333333;}
.body_wrap .load_wrap .coupon-class .class-opt a:not(.name){width: 18px;height: 18px;text-align: center;color: #9F9F9F;display: inline-block;}
.body_wrap .load_wrap .coupon-class .class-inf{line-height:22px;margin:1px 0px;color:#828282;display:block;overflow:hidden;}
.body_wrap .load_wrap .coupon-class .class-inf i{margin-left:10px;}
.body_wrap .load_wrap .coupon-class .class-inf span{display:inline-block;width:20px;text-align:left;}

.body_wrap .load_wrap .coupon-class .class-inf span.type{width:46px;}
.body_wrap .load_wrap .coupon-class .class-inf span.cost{width:65px;}
.body_wrap .load_wrap .coupon-class .class-inf span.code{width:120px;}
.body_wrap .load_wrap .coupon-class .class-inf span.knock{width:30px;}
.body_wrap .load_wrap .coupon-class .class-inf span.allow{width:50px;}
.body_wrap .load_wrap .coupon-class .class-inf span.total{width:50px;}
.body_wrap .load_wrap .coupon-class .class-inf span.count{width:46px;}
.body_wrap .load_wrap .coupon-class .class-inf span.start{width:40px;}
.body_wrap .load_wrap .coupon-class .class-inf span.limit{width:40px;}
.body_wrap .load_wrap .coupon-class .class-inf span.ctime{width:77px;}

.body_wrap .load_wrap .coupon-reply{margin-top:20px;padding:0px 58px;border-top: 1px solid #E4E4E4;display:none;}
.body_wrap .load_wrap .coupon-reply label{margin:8px 0px;padding-top:3px;}
.body_wrap .load_wrap .coupon-reply .result{margin:1px 0px;padding: 4px 12px;line-height:20px;}

.body_wrap .load_wrap.discount{height:53px;padding:15px 10px;}
.body_wrap .load_wrap.discount .coupon-image{width:88px;height:53px;top:16px;}
.body_wrap .load_wrap.discount .coupon-intro{width:200px;height:53px;left:98px;top:15px;}

.body_wrap .load_wrap.business{height:55px;padding:13px 10px;}
.body_wrap .load_wrap.business .coupon-image{width:55px;height:55px;}
.body_wrap .load_wrap.business .coupon-intro{width:230px;height:55px;left:65px;top:13px;}

.body_wrap .load_tips{height:50px;line-height:50px;text-align:center;display:none;}

.side_wrap{border:1px solid #E5E5E5;box-shadow:0 0 3px #EFEFEF;border-radius:12px;width:286px;background-color:#FFFFFF;margin:0px auto 3px;}
/*优惠列表*/
.side_wrap .load_wrap{position:relative;padding:0 10px;overflow: hidden;}
.side_wrap .load_wrap a{position:relative;width:100%;height:5.3rem;display: block;box-sizing:border-box;padding:.5rem 0;background:#FFF;}
.side_wrap .load_wrap .coupon-image{position:absolute;left: .7rem;top:.6rem;width:4rem;height:4rem;overflow:hidden;}
.side_wrap .load_wrap .coupon-image img{width:100%;height:100%;border-radius:0.9rem;background:url("../images/load.gif") no-repeat scroll center transparent;}

.side_wrap .load_wrap .coupon-intro{position:absolute;left:5.4rem;top:.6rem;width:9rem;height:4rem;overflow:hidden;margin:0;}
.side_wrap .load_wrap .coupon-intro .title{margin:0;height:24px;line-height:24px;white-space:normal;overflow:hidden;font-size:16px;color:#333}
.side_wrap .load_wrap .coupon-intro .title em{font-weight: 400;font-style: normal;}
.side_wrap .load_wrap .coupon-intro .count{margin:.15rem 0 0 0;color:#f40;font-size:12px;white-space:nowrap;overflow:hidden;font-weight:500;}
.side_wrap .load_wrap .coupon-intro .count b {font-size:.9rem;margin-left:-.05rem;}
.side_wrap .load_wrap .coupon-intro .count span{color:#999;}
.side_wrap .load_wrap .coupon-intro .other{margin:0.0rem 0 0 0;color:#999;font-size:12px;white-space:nowrap;overflow:hidden;line-height:12px;}

.side_wrap .load_wrap.activity:not(:first-child){border-top:1px solid #E5E5E5;}


.class-特价:before,
.class-满减:before,
.class-折扣:before,
.class-抵现:before,
.class-免单:before {
font-size: 12px;
border-radius: 2px;
padding: 1px;
line-height: 12px;
display: inline-block;
position: relative;
bottom: 2px;
color: #fff;
}
.class-特价:before {
content: "特";background: #ff4400;
}
.class-满减:before {
content: "减";background: #FF20BF;
}
.class-折扣:before {
content: "折";background: #3b75df;
}
.class-抵现:before {
content: "抵";background: #04be02;
}
.class-免单:before {
content: "免";background: #a9a850;
}

.show_foot{max-width:1000px;margin: auto;background:white;}

.foot_wrap{
	min-width: 960px;
	height: 20px;
	padding-top:20px;
	margin:20px;
	border-top:1px #e6e6e6 solid;
	line-height:20px;
	font-size:14px;
	color:#666;
}
.foot_wrap span{
	display:block;
}
.foot_wrap p{
	margin:0;
}
.foot_wrap a{
	color:#333;
}